[submodule "twitch4j"]
	path = twitch4j
	url = https://github.com/twitch4j/twitch4j.git
	branch = develop
[submodule "credential-manager"]
	path = credential-manager
	url = https://github.com/Waridley/credential-manager.git
	branch = composable
[submodule "events4j"]
	path = events4j
	url = https://github.com/PhilippHeuer/events4j.git
